body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-container {
    background: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-container {
    width: 30.2%;
    height: 100px;
    margin-bottom: 0;
}

.secondary-container {
    background-color: brown;
    display: flex;
    flex-direction: row;
}

.numbers-container {
    position: relative;
    background-color: green;
    display: grid;
    width: 30vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.8fr);
    gap: 10px;
    padding: 20px;
    height: 25%;
}

.number-grid:nth-child(10) {
    grid-column: 2;
}

.operators-equals-container {
    height: 32%;
    background-color: orange;
    padding: 7px 5px;
}

.operators-container {
    /* background: blue; */
    display: grid;
    width: 10vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.equals-container {
    /* background: yellow; */
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.equals {
    width: 60px;
    height: 50px;
}

.btn {
    border: none;
}

.btn:hover {
    background-color: gray;
}

.answer-container {
    background-color: yellow;
    height: 35.5%;
}
